@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss"

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flex{
  display: flex;
}

*{
  max-width: 1600px;
  margin: 0 auto;
  font-size: 1rem;
  color: white;
}


/* header styles*/




/* navbar related styles */
.navbar{
  justify-content: space-between;
  align-items: center;
  font-size: 100%;
  height: 92px;
  
}

.nav-item{
  list-style: none;
}

.nav-links{
  line-height: 120%;
  opacity: 90%;
  align-items: flex-start;
  gap: 32px;
  
}

.nav-links a{
  text-decoration: none;
}

.brand{
  width: 219px;
  height: 32px;
  font-size: 27px;
  font-weight: bolder;
}

.brand .wave{
  width: 219px;
  height: 32px;
  font-size: 27px;
  font-weight: bolder;
}









/* banner section  */

.banner{
  max-width: 1600px;
  height: 760px;
  background-image: url(assets/hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  position: relative;
  border-top: 1px solid rgb(45, 61, 82);
}

.hero-circle{
  position: relative;
  top: 101px;
}


.microphone{
  position: absolute;
  top: 178.33px;
  left: 50%;
  right: 50%;
  margin-left: -60px;
}

.new{
  position: absolute;
  top: 113px;
  left: 60%;
  right: 40%;
  margin-left: -5%;
  width: 4.7rem;
  height: 2.3rem;
  background-color:#00FF88;
  border-radius: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new h6{
  color: black;
  font-weight: bold;
  width: 2.68rem;
  height: 1.3rem;
  font-size: 1.12rem;
}

.banner-content{
  width: 550px;
  height: 167px;
  line-height: 24px;
  margin: 190px auto 102px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner-title{
  font-size: 60px;
  font-weight: bolder;
  height: 4.5rem;
}

.banner-description{
  margin-top: -20px;
}


.banner-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 44px;
  margin-top: 24px;
  width: 356px;
  height: 44px;
}

.banner-button-2{
  width: 147px;
  height: 44px;
  border-radius: 1000px;
  display: flex;
  align-items: center;
  border: 1px solid #00FF88;
}

.banner-btn-text{
  color: #00FF88;
  font-weight: 600;
  margin-left: -8px;
}




/* about section  */

.about-section{
  max-width: 1200px;
  height: 646px;
  justify-content: center;
}

.about-div-1 h2{
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-div-1{
  max-width: 1200px;
  height: 222px;
  margin-top: 50px;
  margin-bottom: 80px;
}

.about-div-1 pre{
  line-height: 20px;
  width: 1200px;
  height: 148px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

.about-div-2{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding-top: 80px;
  border-top: 1px solid rgb(45, 61, 82);
}

.about-div-2a h2{
  color: #00FF88;
  font-size: 3rem;
  font-weight: bolder;
  text-align: center;
}
.about-div-2b h2{
  color: #00FF88;
  font-size: 3rem;
  font-weight: bolder;
  text-align: center;
}
.about-div-2c h2{
  color: #00FF88;
  font-size: 3rem;
  font-weight: bolder;
  text-align: center;
}
.about-div-2d h2{
  color: #00FF88;
  font-size: 3rem;
  font-weight: bolder;
  text-align: center;
}











/* why section  */

.why-container{
  height: 70rem;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 150px);
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 783px;
  margin-top: 40px;
}

.why-section{
  background-color: rgba(35, 14, 61, 1);
  padding-bottom: 120px;
}

.why-section h2{
  padding-top: 120px;
  height: 58px;
  padding-bottom: 60px;
  font-size: 48px;
  font-weight: bolder;
  text-align: center;
}
.why-container div{
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}



.why-div1{
            grid-column: span 1;
            grid-row: span 2;
            width: 380px;
            height: 480px;
            margin-top: 150px;
        }
.why-div2{
            grid-column: span 2;
            grid-row: span 1;
            width: 790px;
            height: 225px;
            margin-top: 90px;
        }
.why-div3{
            grid-column: span 2;
            grid-row: span 1;
            width: 790px;
            height: 225px;
            margin-top: 225px;
        }
.why-div4{
            grid-column: span 2;
            grid-row: span 1;
            width: 790px;
            height: 273px;
            margin-top: 415px;
        }
.why-div5{
            grid-column: span 1;
            grid-row: span 1;
            width: 380px;
            height: 273px;
            margin-top: 415px;
        }

.why-div4 img{
  width: 60px;
  height: 60px;
}


