@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss"

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flex{
  display: flex;
}

*{
  max-width: 1600px;
  margin: 0 auto;
  font-size: 1rem;
  color: white;
}

body {
    overflow-x: hidden;
  }


/* header styles*/




/* navbar related styles */
.navbar{
  justify-content: space-between;
  align-items: center;
  font-size: 100%;
  height: 92px;
  
}

.nav-item{
  list-style: none;
}

.nav-links{
  line-height: 120%;
  opacity: 90%;
  align-items: flex-start;
  gap: 32px;
  
}

.hamburger{
  display: none;
  width: 26px;
  cursor: pointer;
}

.nav-links a{
  text-decoration: none;
}

.brand{
  width: 219px;
  height: 32px;
  font-size: 27px;
  font-weight: bolder;
}

.brand .wave1{
  width: 219px;
  height: 32px;
  font-size: 27px;
  font-weight: bolder;
  background: linear-gradient(90deg, #ff4d94, #a64dff, #ff9966);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;


}









/* banner section  */

.banner{
  max-width: 1600px;
  height: 760px;
  background-image: url(assets/hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  position: relative;
  border-top: 1px solid rgb(45, 61, 82);
}

.hero-circle{
  position: relative;
  top: 101px;
}


.microphone{
  position: absolute;
  top: 178.33px;
  left: 50%;
  right: 50%;
  margin-left: -60px;
}

.new{
  position: absolute;
  top: 113px;
  left: 60%;
  right: 40%;
  margin-left: -5%;
  width: 4.7rem;
  height: 2.3rem;
  background-color:#00FF88;
  border-radius: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new h6{
  color: black;
  font-weight: bold;
  width: 2.68rem;
  height: 1.3rem;
  font-size: 1.12rem;
}

.banner-content{
  width: 550px;
  height: 167px;
  line-height: 24px;
  margin: 190px auto 102px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner-title{
  font-size: 60px;
  font-weight: bolder;
  height: 4.5rem;
}

.banner-description{
  margin-top: -20px;
  opacity: 80%;
  width: 550px;
  height: 19px;
}


.banner-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 44px;
  margin-top: 24px;
  width: 356px;
  height: 44px;
}

.banner-button-2{
  width: 147px;
  height: 44px;
  border-radius: 1000px;
  display: flex;
  align-items: center;
  border: 1px solid #00FF88;
  cursor: pointer;
  
}

.banner-btn-text{
  color: #00FF88;
  font-weight: 600;
  margin-left: -8px;
}




/* about section  */

.about-section{
  max-width: 1200px;
  height: 646px;
  justify-content: center;
}

.about-div-1 h2{
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-div-1{
  max-width: 1200px;
  height: 222px;
  margin-top: 50px;
  margin-bottom: 80px;
}

.about-div-1 pre{
  line-height: 20px;
  width: 1200px;
  height: 148px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

.about-div-2{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding-top: 80px;
  border-top: 1px solid rgb(45, 61, 82);
}

.about-div-2a h2{
  color: #00FF88;
  font-size: 3rem;
  font-weight: bolder;
  text-align: center;
}
.about-div-2b h2{
  color: #00FF88;
  font-size: 3rem;
  font-weight: bolder;
  text-align: center;
}
.about-div-2c h2{
  color: #00FF88;
  font-size: 3rem;
  font-weight: bolder;
  text-align: center;
}
.about-div-2d h2{
  color: #00FF88;
  font-size: 3rem;
  font-weight: bolder;
  text-align: center;
}











/* why section  */

.why-container{
  height: 70rem;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 150px);
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 783px;
  margin-top: 40px;
}

.why-section{
  background-color: rgba(35, 14, 61, 1);
  padding-bottom: 120px;
}

.why-section h2{
  padding-top: 120px;
  height: 58px;
  padding-bottom: 60px;
  font-size: 48px;
  font-weight: bolder;
  text-align: center;

}




.why-container div{
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}



.why-div1{
            grid-column: span 1;
            grid-row: span 2;
            width: 380px;
            height: 480px;
            margin-top: 150px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            text-align: start;
            
        }


.why-div1 img,h5,p{
  margin-left: 45px;
  margin-bottom: 18px;

}




.why-div2{
            grid-column: span 2;
            grid-row: span 1;
            width: 790px;
            height: 225px;
            margin-top: 90px;
        }

.why-div2 img,h5,p{
  margin-left: 45px;
  margin-bottom: 18px;
}



.why-div3{
            grid-column: span 2;
            grid-row: span 1;
            width: 790px;
            height: 225px;
            margin-top: 225px;
        }

.why-div3 img,h5,p{
  margin-left: 45px;
  margin-bottom: 18px;

}


.why-div4{
            grid-column: span 2;
            grid-row: span 1;
            width: 790px;
            height: 273px;
            margin-top: 415px;
        }

.why-div4 img,h5,p{
  margin-left: 45px;
  margin-bottom: 18px;

}

.why-div5{
            grid-column: span 1;
            grid-row: span 1;
            width: 380px;
            height: 273px;
            margin-top: 415px;
        }

.why-div5 img,h5,p{
  margin-left: 45px;
  margin-bottom: 18px;

}

.why-div4 img{
  width: 60px;
  height: 60px;
}






/* feature section  */


#featured-section .featured-container{
  height: 538px;
  width: 1200px;
  margin: 0 auto;
}

#featured-section .featured-heading h2{
  height: 58px;
  font-weight: bolder;
  font-size: 48px;
  text-align: center;
  margin-top: 120px;
}

.featured-box{
  display: flex;
  gap: 30px;
  margin-top: 40px;
}

.featured-box .featured-card{
  padding: ;
  background-color: #27143a;
  width: 380px;
  height: 440px;
  border-radius: 20px;
}

.f-img{
  width: 380px;
  height: 214px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px 20px 0px 0px;
}

.f-card-in{
  width: 380px;
  height: 226px;
  padding: 24px;
}

.f-card-in h4{
  width: 332px;
  height: 58px;
  font-size: 24px;
  font-weight: bold;
}

.f-card-in p{
  width: 332px;
  height: 72px;
  opacity: 60%;
  line-height: 24px;
  margin: 20px auto 12px 0 ;
}

.min{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 332px;
  height: 24px;
}

.min p{
  margin-left: 8px;
  margin-top: -4px;
}





/* Host section  */


.host-section h2{
  text-align: center;
  height: 58px;
  font-weight: bolder;
  font-size: 48px;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 40px;
}

.host-content{
  padding: 48.5px 40px;
  background-color: #27143a;
  width: 1200px;
  height: 280px;
  border-radius: 20px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 200px);
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
}

.host-mini{
  display: flex;
  justify-content: center;
  align-items: center;
}

.host-content img{
  grid-column: span 1;
  grid-row: span 1;
  margin: auto;
}

.host-content div{
  grid-column: span 4;
  grid-row: span 1;
}

.host-content1 h3{
  width: 896px;
  height: 39px;
  font-size: 32px;
  font-weight: bold;
}

.host-content1 p{
  height: 72;
  opacity: 60%;
  margin-left: 0px;
  padding-top: 16px;
}


.host-mini{
  width: 184px;
  height: 30px;
  margin-left: 0;
}


/* Footer Section  */


footer{
background-image: url(assets/footer-bg.png);
width: 1600px;
height: 412px;
background-position: center;
background-repeat: no-repeat;
}

.footer-section{
  width: 1360px;
  height: 412px;
  padding: 110px;
}

.footer-div{
  display: flex;
  width: 544px;
  height: 24px;
  margin-top: 45px;
  opacity: 60%;
}

.h1-div{
  width: 410px;
  height: 60px;
}

.footer h1{
  font-size: 60px;
  font-weight: bolder;
  height: 4.5rem;
  margin-left: 595px;
}

.brand1{
  width: 300px;
  height: 60px;
  font-size: 60px;
  font-weight: bolder;
  text-align: start;
}

.brand2{
  width: 300px;
  height: 60px;
  font-size: 60px;
  font-weight: bolder;
  background: linear-gradient(90deg, #ff4d94, #a64dff, #ff9966);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  text-align: start;
}

.footer-section p{
  text-align: center;
  opacity: 60%;
  padding-top: 20px;
}



@media (max-width: 577px) {

  .navbar {
    padding: 16px 20px;
  }

  /* Hide desktop items */
  .nav-links {
    display: none;
  }

  .btn-1 {
    display: none;
  }

  /* Show hamburger */
  .hamburger {
    display: block;
  }

  /* Keep brand visible */
  .brand{
    font-size: 20px;
  }
  .wave1{
    font-size: 2px;
  }


    .banner {
    height: auto;
    padding-bottom: 80px;
  }

  .hero-circle img {
    width: 240px;
  }

  .microphone img {
    width: 70px;
  }

  .banner-content {
    width: 90%;
    margin-top: 140px;
    text-align: center;
  }

  .banner-title {
    font-size: 40px;
  }

  .banner-description {
    width: 100%;
    font-size: 0.9rem;
  }

  .banner-btn {
    flex-direction: column;
    gap: 16px;
    height: auto;
  }


    .banner {
    height: auto;
    padding-bottom: 80px;
  }

  .hero-circle img {
    width: 240px;
  }

  .microphone img {
    width: 70px;
  }

  .banner-content {
    width: 90%;
    margin-top: 140px;
    text-align: center;
  }

  .banner-title {
    font-size: 40px;
  }

  .banner-description {
    width: 100%;
    font-size: 0.9rem;
  }

  .banner-btn {
    flex-direction: column;
    gap: 16px;
    height: auto;
  }


}














