@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss"

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flex{
  display: flex;
}

*{
  max-width: 1600px;
  margin: 0 auto;
  font-size: 1rem;
  color: white;
}


/* header styles*/




/* navbar related styles */
.navbar{
  justify-content: space-between;
  align-items: center;
  font-size: 100%;
  height: 92px;
  
}

.nav-item{
  list-style: none;
}

.nav-links{
  line-height: 120%;
  opacity: 90%;
  align-items: flex-start;
  gap: 32px;
  
}

.nav-links a{
  text-decoration: none;
}

.brand{
  width: 219px;
  height: 32px;
  font-size: 27px;
  font-weight: bolder;
}

.brand .wave{
  width: 219px;
  height: 32px;
  font-size: 27px;
  font-weight: bolder;
}









/* banner section  */

.banner{
  max-width: 1600px;
  height: 760px;
  background-image: url(assets/hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  position: relative;
  border-top: 1px solid rgb(45, 61, 82);
}

.hero-circle{
  position: relative;
  top: 101px;
}


.microphone{
  position: absolute;
  top: 178.33px;
  left: 50%;
  right: 50%;
  margin-left: -60px;
}

.new{
  position: absolute;
  top: 113px;
  left: 60%;
  right: 40%;
  margin-left: -5%;
  width: 4.7rem;
  height: 2.3rem;
  background-color:#00FF88;
  border-radius: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new h6{
  color: black;
  font-weight: bold;
  width: 2.68rem;
  height: 1.3rem;
  font-size: 1.12rem;
}

.banner-content{
  width: 550px;
  height: 167px;
  line-height: 24px;
  margin: 190px auto 102px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner-title{
  font-size: 60px;
  font-weight: bolder;
  height: 4.5rem;
}

.banner-description{
  margin-top: -20px;
}


.banner-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 44px;
  margin-top: 24px;
  width: 356px;
  height: 44px;
}

.banner-button-2{
  width: 147px;
  height: 44px;
  color: #00FF88;
  font-weight: 600;
  border: 1px solid #00FF88;
  border-radius: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}